body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    padding: 30px;
    gap: 10px;
}
.image-container img {
    width: 500px;
    height: auto;
    border: 5px solid #ddd;
    border-radius: 15px;
    
}

form {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 30px;
    width: 450px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}



label {
    font-size: 16px;
    margin-bottom: 8px;
    display: block;
    color: #555;
}

input[type="text"], select, input[type="date"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}
button {
    width: 100%;
    padding: 12px;
    background-color: #2d073e;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #3e0751;
}

#sonuc {
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
    color: #2d073e;
}

#error {
    margin-top: 10px;
    text-align: center;
    color: red;
    font-size: 16px;
}

